.carousel__button {
    position: absolute;
    z-index: 5;
    top: 0; 
    height: 100%; 
    border: none;
    cursor: pointer;
    width: 38px;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}