.carousel__button {
    position: absolute;
    z-index: 2;
    top: 0; /* Align the button to the top of the carousel */
    height: 100%; /* Make the button span the full height of the carousel */
    background: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    width: 38px;
    padding: 0;
    margin: 0;
}
