.article__title {
  color: #282828;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Philosopher;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 44px */
  flex: 1;
  margin: 0;
}
