.button {
  display: flex;
  width: 225px;
  height: 58px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  border: none;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
  scale: 1.05;
}