.carousel__image {
    width: 100%; /* Set the width of the image to 100% */
    display: flex;
    align-self: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    margin: 0;
    padding: 0;
    transition: 0.5s ease;
}