.location__distance {
    color: #282828;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Philosopher;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 70px */ 
    padding: 0 0 10px 0;
    margin: 0;
}