.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #282828;
  color: white;
  padding: 16px auto 16px auto;
  gap: 40px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  text-decoration: none;
  max-height: 76px;
}
