.carousel__dot {
    width: 8px;
    height: 8px;
    margin: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }


@media screen and (max-width: 880px) {
  .carousel__dot {
    width: 5px;
    height: 5px;
    margin: 3px;
  }
}