.header__link {
    text-decoration: none;
    color: white;
    align-self: center;
}

.header__link:hover {
    opacity: 0.6;
    transition: 0.2s;
}


@media screen and (max-width: 800px) {
    .header__link {
        display: none;
    }
}