.location {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 10%;
}

@media screen and (max-width: 800px) {
    .location {
        width: 90%;
        margin: 0 5%;
    }
  }