.article__text {
  color: #282828;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%;
  max-width: 590px;
}

@media screen and (max-width: 800px) {
  .article__text {
    font-size: 16px;
  } 
}


@media screen and (max-width: 440px) {
  .article__text {
    font-size: 14px;
  } 
}